/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
src/XarismaBundle/import/*
src/XarismaBundle/export/*
#/app/config/parameters.yml
#/app/phpunit.xml
#/build/
#/vendor/
#/bin/
#/composer.phar
